<ion-header>
  <ion-toolbar>
    <ion-title>Personalized Workout</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card-subtitle vertical="center_focus_strong">
    Bem Vindo ao Personalized Workout!
  </ion-card-subtitle>

<ion-card>
  <img src="assets/images/academia.png">
</ion-card>




<ion-row id="botoes-inicio" border_horizontal="business_center">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Treinos</ion-card-title>
  </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Novo Treino</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-row>

<ion-card>
  <ion-card-header>
    <img src="assets/images/propwhey.png">
  </ion-card-header>
</ion-card>



</ion-content>
